<h2>Summary</h2>

<div>
  <h3>Basic Info</h3>
  <button routerLink="/">Edit</button>
  <p>Name: {{ basicInfo.name }}</p>
  <p>Sport: {{ basicInfo.sport }}</p>
  <p>Nationality: {{ basicInfo.nationality }}</p>
  <p>Gender: {{ basicInfo.gender }}</p>
  <p>Date of birth: {{ basicInfo.birthDate }}</p>
</div>

<div>
  <h3>About</h3>
  <button routerLink="/about">Edit</button>
  <p>Desccription: {{ aboutInfo.description }}</p>
  <p>Location: {{ aboutInfo.location }}</p>
  <p>Team: {{ aboutInfo.team }}</p>
</div>

<div>
  <h3>Social</h3>
  <button routerLink="/about/social">Edit</button>
  <p>Twitter: {{ socialInfo.twitter }}</p>
  <p>Facebook: {{ socialInfo.facebook }}</p>
  <p>Instagram: {{ socialInfo.instagram }}</p>
</div>

<button id="submit" (click)="submitData()">Submit</button>
